body {
	width: 100%;
	font-size: 28px;
}
.raper {
	width: 800px;
	margin: 0 auto; /*********center div **need to be together*******/
}
.header {
	margin: 0 auto; /*********center div **need to be together*******/
	height: 200px;
	width: 100%;
}
.divTop {
	height: 119px;
	width: 100%;
	overflow: hidden;
}
.divOrange {
	height: 22px;
	background-color: orange;
	width: 100%;
}
.allMenu {
	width: 86%;
	background-color: #65371C;
	float: left;
	height: 119px;
}
.picLogo {
	width: 14%;
	float: right;
}
.topMenu {
	height: 72px;
	margin-left: 17%;
	margin-top: 1%;
}
.mainNav {
	padding-right: 2%;
	overflow: hidden;
}
.homBut {
	float: right;
	padding-right: 3%;
}
.imageFone1 {
	float: left;
	padding: 1%;
}
.image {
	height: 20px;
}
.imageFone {
	float: left;
}
input {
	width: 20%;
	font-size: 0.4em;
}
/****************/
.bigPic{
	background-image:url("../image/40536_banner-550x163_final-2.jpg");
	height: 340px;
	overflow: hidden;
	width: 1146px;
    margin-left: -177px;
}
/*********************/
footer{
	height: 300px;
	overflow: hidden;
}
.block{
	float: right;
	padding:3%;
}
.line{
    height: 61%;
    float: right;
    margin-top: 3%;
}
